@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box
}
body {background: url(IMG_2503.JPG)repeat}

* {
	text-align: center;
}
h1{
color: rgba(255,128,21,1.00)
}
.pre1{
color: rgba(255,128,21,1.00)
}
h2{
color: rgba(255,255,255,1.00);
border-radius: 12px;
padding-top: 20px;
background-color:rgba(177,115,210,.5);
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
}
.pre2{
color: rgba(177,115,210,1.00);
}
.h3{
color: rgba(255,255,255,1.00);
border-radius: 12px;
padding-top: 20px;
background-color:rgba(0,185,98,.5);
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
}

.pre3 {
color:rgba(0,185,98,1.00)
}